<section class="gifts-section">
  <div class="gifts-container">
    <!-- LEFT IMAGE -->
    <div class="gift-image-wrapper gift-image-top-left">
      <app-dynamic-image
        src="assets/images/6.JPG"
        altKey="Regalo 1"
        containerClass="gift-image-container"
        imageClass="gift-image"
      ></app-dynamic-image>
    </div>

    <!-- CENTER COLUMN -->
    <div class="gift-center-column">
      <!-- TITLE -->
      <div class="gift-text-wrapper">
        <app-dynamic-text
          textKey="SECTION_GIFTS.TITLE"
          type="h2"
          customClass="gift-title"
        ></app-dynamic-text>
      </div>

      <!-- DESCRIPTION -->
      <div class="gift-description-wrapper">
        <app-dynamic-text
          textKey="SECTION_GIFTS.DESCRIPTION"
          type="p"
          customClass="gift-description"
        ></app-dynamic-text>
      </div>
    </div>

    <!-- RIGHT IMAGE-->
    <div class="gift-image-wrapper gift-image-bottom-right">
      <app-dynamic-image
        src="assets/images/7.JPG"
        altKey="Regalo 2"
        containerClass="gift-image-container"
        imageClass="gift-image"
      ></app-dynamic-image>
    </div>
  </div>
</section>
