.custom-modal {
  width: 50vh;
  height: 80vh;
  padding: 7vh;
  gap: 2vh;
  background-color: #e8e4dc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

:host ::ng-deep .modal-title {
  text-align: center;
  font-size: 8vh;
  font-family: 'Sharis';
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

:host ::ng-deep .form-label {
  font-size: 2vh;
  font-family: 'Optima';
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  font-family: 'Optima';
}

.extra-fields {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2vh;

  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    max-height 0.4s ease,
    visibility 0.4s;
}

.extra-fields.is-visible {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  transform: translateY(0);
}

/* El botón en medio como pediste */
.button-container {
  display: flex;
  flex-direction: column; /* Apilados */
  align-items: center; /* Centrados horizontalmente */
  gap: 1rem;
  margin-top: 10px;
}

.btn-submit {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-family: 'Optima';
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.btn-submit:disabled {
  background-color: #ccc;
  border: 2px solid #ccc;
  color: white;
  cursor: not-allowed;
}

.btn-cancel {
  background: none;
  border: none;
  color: #666;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Optima';
}

/* PHONE */
@media (max-width: 530px) {
  .custom-modal {
    width: 40vh;
    padding: 5vh;
  }
  .modal-title {
    font-size: 6vh;
  }
}

/* TABLET */
@media (min-width: 768px) {
  .custom-modal {
    width: 50vh;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .custom-modal {
    width: 50vh;
  }
}

/* LARGE DESKTOP */
@media (min-width: 1540px) {
  .custom-modal {
    width: 60vh;
  }
}
