<section class="ceremony-section">
  <!-- TITLE -->
  <div class="section-title">
    <app-dynamic-text textKey="SECTION_CEREMONY_RECEPTION.TITLE" type="h2"></app-dynamic-text>
  </div>
  <div class="info-container">
    <!-- CEREMONY -->
    <div class="info-card">
      <div class="illustration-container">
        <app-dynamic-image
          src="assets/images/Esta_1.JPG"
          altKey="Ceremonia"
          containerClass="illustration-image-container"
          imageClass="illustration"
        ></app-dynamic-image>
      </div>
      <app-dynamic-text
        textKey="SECTION_CEREMONY_RECEPTION.CEREMONY.TITLE"
        type="h3"
        customClass="card-title"
      ></app-dynamic-text>
      <app-dynamic-text
        textKey="SECTION_CEREMONY_RECEPTION.CEREMONY.DESCRIPTION"
        type="p"
        customClass="card-text"
      ></app-dynamic-text>
    </div>

    <!-- DRESS CODE -->
    <div class="info-card">
      <div class="illustration-container">
        <app-dynamic-image
          src="assets/images/Esta_2.JPG"
          altKey="Dress code"
          containerClass="illustration-image-container"
          imageClass="illustration"
        ></app-dynamic-image>
      </div>
      <app-dynamic-text
        textKey="SECTION_CEREMONY_RECEPTION.DRESS_CODE.TITLE"
        type="h3"
        customClass="card-title"
      ></app-dynamic-text>
      <app-dynamic-text
        textKey="SECTION_CEREMONY_RECEPTION.DRESS_CODE.DESCRIPTION"
        type="p"
        customClass="card-text"
      ></app-dynamic-text>
    </div>

    <!-- RECEPTION -->
    <div class="info-card">
      <div class="illustration-container">
        <app-dynamic-image
          src="assets/images/Esta_3.JPG"
          altKey="Recepción"
          containerClass="illustration-image-container"
          imageClass="illustration"
        ></app-dynamic-image>
      </div>
      <app-dynamic-text
        textKey="SECTION_CEREMONY_RECEPTION.RECEPTION.TITLE"
        type="h3"
        customClass="card-title"
      ></app-dynamic-text>
      <app-dynamic-text
        textKey="SECTION_CEREMONY_RECEPTION.RECEPTION.DESCRIPTION"
        type="p"
        customClass="card-text"
      ></app-dynamic-text>
    </div>
  </div>
</section>
