<section class="ceremony-section">
    
    <!-- TITLE -->
    <app-dynamic-text
        textKey="SECTION_CEREMONY_RECEPTION.TITLE"
        type="h2"
        customClass="section-title"
    ></app-dynamic-text>
    
    <div class="info-container">
        
        <!-- CEREMONY -->
        <div class="info-card">
            <div class="illustration-container">
                <app-dynamic-image
                    src="../../../assets/images/1.JPG"
                    altKey="Ceremonia"
                    containerClass="illustration-image-container"
                    imageClass="illustration"
                ></app-dynamic-image>
            </div>
            <app-dynamic-text
                textKey="SECTION_CEREMONY_RECEPTION.CEREMONY.TITLE"
                type="h3"
                customClass="card-title"
            ></app-dynamic-text>
            <app-dynamic-text
                textKey="SECTION_CEREMONY_RECEPTION.CEREMONY.DESCRIPTION"
                type="p"
                customClass="card-text"
            ></app-dynamic-text>
        </div>

        <!-- DRESS CODE -->
        <div class="info-card">
            <div class="illustration-container">
                <app-dynamic-image
                    src="../../../assets/images/2.JPG"
                    altKey="Dress code"
                    containerClass="illustration-image-container"
                    imageClass="illustration"
                ></app-dynamic-image>
            </div>
            <app-dynamic-text
                textKey="SECTION_CEREMONY_RECEPTION.DRESS_CODE.TITLE"
                type="h3"
                customClass="card-title"
            ></app-dynamic-text>
            <app-dynamic-text
                textKey="SECTION_CEREMONY_RECEPTION.DRESS_CODE.DESCRIPTION"
                type="p"
                customClass="card-text"
            ></app-dynamic-text>
        </div>

        <!-- RECEPTION -->
        <div class="info-card">
            <div class="illustration-container">
                <app-dynamic-image
                    src="../../../assets/images/3.JPG"
                    altKey="Recepción"
                    containerClass="illustration-image-container"
                    imageClass="illustration"
                ></app-dynamic-image>
            </div>
            <app-dynamic-text
                textKey="SECTION_CEREMONY_RECEPTION.RECEPTION.TITLE"
                type="h3"
                customClass="card-title"
            ></app-dynamic-text>
            <app-dynamic-text
                textKey="SECTION_CEREMONY_RECEPTION.RECEPTION.DESCRIPTION"
                type="p"
                customClass="card-text"
            ></app-dynamic-text>
        </div>
        
    </div>
</section>