<section class="history-section">
  <div class="history-container">
    <!-- TITLE -->
    <div class="history-title-wrapper">
      <app-dynamic-text
        textKey="SECTION_HISTORY.TITLE"
        type="h2"
        customClass="history-title"
      ></app-dynamic-text>
    </div>

    <!-- IMG -->
    <div class="history-image-wrapper">
      <app-dynamic-image
        src="assets/images/2.JPG"
        altKey="Nuestra historia"
        containerClass="history-image-container"
        imageClass="history-image"
      ></app-dynamic-image>
    </div>

    <!-- DESCRIPTION -->
    <div class="history-description-wrapper">
      <app-dynamic-text
        textKey="SECTION_HISTORY.DESCRIPTION"
        type="p"
        customClass="history-description"
      ></app-dynamic-text>
    </div>
  </div>
</section>
