/* SECTION CONTAINER */
.gallery-section {
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

/* GALLERY CONTAINER */
.gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    min-height: 100vh;
    gap: 0;
}

/* IMAGE WRAPPER */
.gallery-image-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* LEFT BACKGROUND */
.gallery-image-left {
    background-color: #9a9a9a;
    padding: 0;
    height: 100vh; /* Altura completa */
}

/* RIGHT BACKGROUND */
.gallery-image-right {
    background-color: #000000;
    padding: 2rem;
    height: 100vh; /* Altura completa */
}

/* FULL IMAGE CONTAINER */
:host ::ng-deep .gallery-image-container-full {
    width: 100%;
    height: 100vh; /* 100% del alto de la ventana */
}

/* SQUARE IMAGE CONTAINER */
:host ::ng-deep .gallery-image-container-square {
    width: 100%;
    height: auto;
    max-width: 600px;
    aspect-ratio: 1 / 1;
}

/* IMG */
:host ::ng-deep .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

/* PHONE */
@media (min-width: 768px) {
    .gallery-image-right {
        padding: 3rem;
    }

    :host ::ng-deep .gallery-image-container-square {
        max-width: 500px;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    .gallery-container {
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
    }

    .gallery-image-left,
    .gallery-image-right {
        height: 100vh;
    }

    .gallery-image-right {
        padding: 10rem;
    }

    :host ::ng-deep .gallery-image-container-square {
        max-width: 700px;
    }
}