<section class="gallery-section">
  <div class="gallery-container">
    <!-- LEFT IMAGE -->
    <div class="gallery-image-wrapper gallery-image-left">
      <app-dynamic-image
        src="assets/images/3.JPG"
        altKey="Galería foto 1"
        containerClass="gallery-image-container-full"
        imageClass="gallery-image"
      ></app-dynamic-image>
    </div>

    <!-- RIGHT IMAGE -->
    <div class="gallery-image-wrapper gallery-image-right">
      <app-dynamic-image
        src="assets/images/10.JPG"
        altKey="Galería foto 2"
        containerClass="gallery-image-container-square"
        imageClass="gallery-image"
      ></app-dynamic-image>
    </div>
  </div>
</section>
