/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  --bg-primary: #eeede7;
  --bg-secondary: #020202;
  --text-primary: #eeede7;
  --text-primary: #020202;
}
