/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'Optima';
  src: url(../public/fonts/optima/optima-medium.ttf);
}

@font-face {
  font-family: 'Sharis';
  src: url(../public/fonts/sharis-serif/TTF/Sharis-Regular.ttf);
}

:root {
  --bg-primary: #eeede7;
  --bg-secondary: #020202;
  --text-primary: #eeede7;
  --text-primary: #020202;
  --button-hover: #c4c2b9;
}
