<section class="location-section">
  <div class="location-container">
    <!-- IMAGE -->
    <div class="location-image-wrapper">
      <app-dynamic-image
        src="assets/images/8.JPG"
        altKey="Ubicación"
        containerClass="location-image-container"
        imageClass="location-image"
      ></app-dynamic-image>
    </div>

    <!-- INFORMATION -->
    <div class="location-info">
      <!-- LOCATION INFO -->
      <div class="venue-info">
        <div class="link-wrapper">
          <app-dynamic-text
            textKey="SECTION_LOCATION.HOW_TO_GET"
            type="p"
            customClass="accommodation-title"
          ></app-dynamic-text>
        </div>

        <p class="intro-text">
          <app-dynamic-text
            textKey="SECTION_LOCATION.INTRO"
            type="p"
            customClass="intro-inline"
          ></app-dynamic-text>
          <app-dynamic-text
            textKey="SECTION_LOCATION.LOCATION"
            type="p"
            customClass="location-name"
          ></app-dynamic-text>
        </p>

        <app-dynamic-text
          textKey="SECTION_LOCATION.ADDRESS"
          type="p"
          customClass="address-text"
        ></app-dynamic-text>
      </div>

      <!-- DIVIDER -->
      <div class="divider"></div>

      <!-- ACCOMMODATION INFO -->
      <div class="accommodation-info">
        <app-dynamic-text
          textKey="SECTION_LOCATION.WHERE_TO_STAY"
          type="h3"
          customClass="accommodation-title"
        ></app-dynamic-text>

        <app-dynamic-text
          textKey="SECTION_LOCATION.STAY_DESCRIPTION"
          type="p"
          customClass="accommodation-description"
        ></app-dynamic-text>

        <!-- HOTELS LIST -->
        <ul class="hotels-list">
          <li class="hotel-item">
            <a
              href="https://www.airbnb.mx/rooms/1203035586412674791"
              target="_blank"
              class="hotel-link"
            >
              <app-dynamic-text
                textKey="SECTION_LOCATION.HOTELS.0.NAME"
                type="span"
                customClass="hotel-link-text"
              ></app-dynamic-text>
            </a>
          </li>
          <li class="hotel-item">
            <a
              href="https://maps.app.goo.gl/4S2wi1o1DFhfhV21A?g_st=iw"
              target="_blank"
              class="hotel-link"
            >
              <app-dynamic-text
                textKey="SECTION_LOCATION.HOTELS.1.NAME"
                type="span"
                customClass="hotel-link-text"
              ></app-dynamic-text>
            </a>
          </li>
          <li class="hotel-item">
            <a href="https://maps.app.goo.gl/LzpMGk3m98tVzosw5" target="_blank" class="hotel-link">
              <app-dynamic-text
                textKey="SECTION_LOCATION.HOTELS.2.NAME"
                type="span"
                customClass="hotel-link-text"
              ></app-dynamic-text>
            </a>
          </li>
          <li class="hotel-item">
            <a
              href="https://maps.app.goo.gl/TAZPB3rKBjjbEZZe9?g_st=iw"
              target="_blank"
              class="hotel-link"
            >
              <app-dynamic-text
                textKey="SECTION_LOCATION.HOTELS.3.NAME"
                type="span"
                customClass="hotel-link-text"
              ></app-dynamic-text>
            </a>
          </li>
          <li class="hotel-item">
            <a
              href="https://maps.app.goo.gl/NoQoFadSE5rHFjM3A?g_st=iw"
              target="_blank"
              class="hotel-link"
            >
              <app-dynamic-text
                textKey="SECTION_LOCATION.HOTELS.4.NAME"
                type="span"
                customClass="hotel-link-text"
              ></app-dynamic-text>
            </a>
          </li>
          <li class="hotel-item">
            <a
              href="https://maps.app.goo.gl/s77xfP4hWVgCiG7D6?g_st=iw"
              target="_blank"
              class="hotel-link"
            >
              <app-dynamic-text
                textKey="SECTION_LOCATION.HOTELS.5.NAME"
                type="span"
                customClass="hotel-link-text"
              ></app-dynamic-text>
            </a>
          </li>
        </ul>
      </div>

      <!-- DIVIDER -->
      <div class="divider"></div>
    </div>
  </div>
</section>
