h1,
p,
span {
  /* text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
}

/* SECTION PRINCIPAL */
.section-1-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

/* BACKGROUND IMAGE CONTAINER */
.section-1-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/* IMAGE CONTAINER */
:host ::ng-deep .image-container {
  width: 100%;
  height: 100%;
}

/* IMAGE */
:host ::ng-deep .section-1-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  opacity: 0.9;
}

/* CONTENT */
.section-1-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  box-sizing: border-box;
}

/* TITLE WRAPPER */
.section-1-title-wrapper {
  width: 100%;
  padding-top: 4rem;
  text-align: center;
  justify-content: center;
  display: flex;
}

/* TITLE */
:host ::ng-deep .section-1-title {
  font-size: 3rem;
  font-family: 'Sharis';
  color: white;
  letter-spacing: 0.05em;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

:host ::ng-deep .first-image-container {
  width: 100%;
  margin-top: -0.5rem;
  max-width: 290px;
  aspect-ratio: 1 / 1;
}

/* LOW ROW */
.section-1-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
}

/* DATE */
:host ::ng-deep .section-1-date {
  font-size: 0.75rem;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: sans-serif;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* PHRASE */
:host ::ng-deep .section-1-phrase {
  font-size: 0.75rem;
  color: white;
  text-transform: lowercase;
  font-style: italic;
  font-family: sans-serif;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* PHONES */
@media (min-width: 768px) {
  .section-1-content {
    padding: 3rem;
  }

  .section-1-title-wrapper {
    padding-top: 6rem;
  }

  :host ::ng-deep .section-1-title {
    font-size: 4.5rem;
  }

  .section-1-footer {
    padding-bottom: 2rem;
  }

  :host ::ng-deep .section-1-date,
  :host ::ng-deep .section-1-phrase {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .section-1-title-wrapper {
    margin-left: 0;
    display: grid;
    justify-items: center;
  }
  :host ::ng-deep .section-1-title {
    font-size: 3.1rem;
  }
  :host ::ng-deep .first-image-container {
    width: 10rem;
    aspect-ratio: unset;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  :host ::ng-deep .section-1-title {
    font-size: 6rem;
  }
}
